@charset "UTF-8";
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #212121;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: purple;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#myBtn:hover {
      background-color: whit;
      color: #C04BE7;
      border: 2px solid #C04BE7;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    color: white;
    font-family:  Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container2{
    width:88%;
    margin:auto;
    overflow:hidden;
    color: white;
}

/*-------------------------Button Style 1----------------------------*/
.button{
    outline: none;
    display: block;
    border: solid 1px #8424A4;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    padding: 16px 30px;
    border-radius: 30px;
    color: #8424A4;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family:  Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    margin: 2% 30%;
}

.button:hover,
.button:focus{
    background: #8424A4;
    color: #000000;
}

.button:active{
    background: #000000;
    color: #8424A4;
}

/*-------------------------Button Style 1----------------------------*/
/*-------------------------Button Style 2----------------------------*/

.button2{
    outline: none;
    display: block;
    border:solid 1px transparent;
    border-radius: 30px;
    background: transparent;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family:  Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

.button2:hover,
.button2:focus{
    border:solid 1px #fff;
    background: transparent;
    color: #fff;
}

.button2:active{
    border: solid 1px #000;
    background: #fff;
    color: #000;
}

/*-------------------------Button Style 2----------------------------*/
/*------------------------Back To Top Button-------------------------*/

#backToTop{
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 20px;
	width: 40px;
	height: 40px;
	background-color: transparent;
	color: #212121;
	cursor: pointer;
	outline: none;
	border: solid 3px #fff;
	border-radius: 50%;
	transition: 0.2s ease-in-out;
	transition-property: background-color, color;
}

#backToTop:hover,
#backToTop:focus{
	border-color: #8424A4;
	background-color: #000;
	color: #ffffff;
	transition: all 0.3s ease;
}

/*----Back To Top Button Icon------------------*/
#backToTop img{
	width: 75%;
}

/*----Back To Top Button Entrance Animation----*/ 
.btnEntrance{
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: btnEntrance;
}

@keyframes btnEntrance{
	from{
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/*----Back To Top Button Exit Animation-------*/ 
.btnExit{
	animation-duration: 0.25s;
	animation-fill-mode: both;
	animation-name: btnExit;
}

@keyframes btnExit{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}
/*------------------------Back To Top Button-------------------------*/

/*-----------------------------------------------Start Navigation Bar--------------------------------------------------*/
li a, .navdropbutton {
    display: inline-block;
    color:purple ;
    text-align: center;
    padding: 20.5px 16.5px;
    text-decoration: none;
}
header{
    background: black;
    color:#ffffff;
    min-height: 80px;
    position: fixed;
    width:100%;
    border-bottom: #8424A4 1px solid;
    z-index: 99;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

header ul{
    margin:0;
    padding:0;
}

header li{
    float:left;
    display:inline;
    padding: 9px;
}

header #branding{
    float:left;
	width: 40%;
}

header #branding h1{
    margin:20px 0 0 80px;
}

header #branding img{
	width: 40%;
	float: left
}

header nav{
    float:right;
    margin-top:10px;
}

header .current a{
    color:#8424A4;
    font-weight:bold;
}

header a:hover{
    color: #8424A4;
    font-weight: bold;
}
/*---------------------------------------------------Start Header------------------------------------------------------*/

.header-video{
    overflow: hidden;
    height: 100vh;
}

.vid-bg{
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}

#showcase p{
    margin-top: 0;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color:#8424A4;
    letter-spacing: 5px;
}


/*--------------------------------------------------End Header-------------------------------------------------------*/
/*------------------------------------------------Start Content------------------------------------------------------*/

#main{
    padding: 110px 0px;
}

#side-col1{
    float:left;
    width:50%;
    margin-top: 0;
}

#side-col1 h1{
    font-size: 53px;
    color:#8424A4;
    margin-top: 0;
    margin-bottom: 36px;
}

#side-col1 p{
    font-size: 23px;
	line-height: 25px;
    margin:10px 4px 0 11px;
    text-align: justify;
}

#side-col2{
    float:right;
    max-height: 500px;
    width: 45%;
    margin-top: 25px;
}

#side-col2-img{
    width: 100%;
    object-position: 0px 0px;
}

/*--------------------------------------------------Start Upcoming-------------------------------------------------------*/

#bar2{
    width:100%;
    min-height: 150px;
    background-color:#8424A4;
    margin-top: 60px;
    overflow:hidden;
}

#bar2 h1{
    margin: 0;
    padding-top:0px; 
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    letter-spacing: 3px;
}

#bar2 p{
    margin: 0;
    color: white;
    padding-top: 35px; 
    text-align: center;
    font-size: 22px;
    letter-spacing: 3px;
}

#tour{
    border: none;
    min-height: 750px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/home/event_background.jpg') no-repeat 0px 0px;
    background-size: 100%;
    width: 100%;
}

#tour h1{
    margin: 0;
    padding-top: 30px;
    text-align: center;
    color: white;
    letter-spacing: 8px;
    font-size: 60px;
}

.box3{
    margin: 0px;
    padding: 0;
    float:left;
    width: 60%;
}

.box4{
    min-height: 500px;
    width: 32%;
    float: left;
    margin-top: -30px;
    margin-left: 158px;
    background: #8424A4;
}
 
.box4 p, .box5 p{
    color: black;
}

.container3{
    margin-top: 26px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tourCard{
    position: relative;
    left: 0;
    width: 380px;
    height: 210px;
    transition: 03.s ease-out;
    cursor: pointer;
    box-shadow: 0 3px 15px rgba(0,0,0,0.7);
}

.tourCard .tourCardImg{
    position: relative;
    top: 0;
    left: 0;
    width 100%;
    height: 100%;
}

.tourCard .tourCardImg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.5s;
}

.tourCard .tourCardText{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 0px;
    background: rgba(0,0,0,0.8);
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: hidden;
}

.tourCard:hover .tourCardText{
    width: 100%;
    height: 80%;
    left: 0;
    bottom: 0;
}

.tourCard h2{
    margin-top: 15px;
    text-align: center;
}

.tourCardText p{
    margin: 10px 0 20px;
    padding: 0;
	color: #fff;
    transform: translateY(2em);
    line-height: 1.3em;
    transition: 0.3s;
    text-align: center;
    opacity: 0;
}

.tourCardText a{
    text-align: center;
    text-decoration: none;
    margin: 10px 70px;
    padding: 10px;
    font-size: 15px;
	transform: translateY(2em);
	transition: 0.3s;
	opacity: 0;
}

.tourCard:hover .tourCardText p,
.tourCard:hover .tourCardText a{
    transform: translateY(0);
    opacity: 1;
}

/*
#tourButton{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#tourButton a{
    margin: 0 80px;
}
*/

/*---------------------------------------------------End Upcoming---------------------------------------------------------*/
/*--------------------------------------------------Start Webstore--------------------------------------------------------*/
.box5{
    min-height: 300px;
    width: 500px;
    float: right;
    margin:80px 20px;
    background-color: #424242;
}

#albumBox{
    float: left;
    margin-top: 160px;
    min-height: 400px;
    width: 32%;
}

#albumBox p{
    margin: 0;
    margin-top: 15px;
    font-size: 50px;
    line-height: 35px; 
    text-align: center;
    letter-spacing: 1px;
}

#albumBox a{
    text-align: center;
    margin-top: 40px;
}

.container4{
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#albumD{
    float:right;
    max-height: 400px;
    width: 45%;
    margin-top: 25px;
}
#albumD-img{
    width: 470px;
    height: 500px;
    object-position: 0px 0px;
}



/*----------------------------------------------------End Content-------------------------------------------------------*/

/*----------------------------------------------------Start Footer------------------------------------------------------*/
footer{
    
    min-height: 70px;
    background-color: black;
    color: white;
    position:sticky;
    border-top:#8424A4 1px solid
}

.box6{
    width: 40%;
    min-height: 300px;
    float: left;
    margin-top: 100px;
}

.box6 p{
    margin-top: -27px;
    text-align: center;
    line-height: 25px;
}



#box7{
    margin-top: 100px;
    float: right;
    text-align: center;
    width: 50%
}

#box7 h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-weight: 90;
}

#team{
    width: 100%;
    margin-bottom: 40px;
}

.team-img{
	
	width: 109px;
    height: 109px;
	transition-duration: 0.5s;
}

.team-img:hover{
	-webkit-filter: none;
	filter: none;
}

#footer-bar{
    min-height: 60px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
#footer-bar p{
    float:left;
    letter-spacing: 1px;
    margin-top: 13px;
    margin-left: 80px;
    font-weight: 400;
    font-size: 14px;
}


#footer-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*-----------------------------------------------------End Footer------------------------------------------------------*/
